@import "tailwindcss";

.hamburgerMenu span:nth-child(2){
    transform-origin: 0 0;
}

.hamburgerMenu span:nth-child(4){
    transform-origin: 0 100%;
}

.hamburgerMenu input:checked ~ span:nth-child(2){
    background-color: red;
    transform: rotate(45deg);
    translate: -1px 0px;
}

.hamburgerMenu input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.hamburgerMenu input:checked ~ span:nth-child(4){
    background-color: red;
    transform: rotate(-45deg);
    translate: -1px -1px;
}
